.container{
    border: dashed; 
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.item{
    --hue:0;
    border: solid red;
    text-align: center;
    background-color: hsl(var(--hue), 100%, 70%);
}